.header {
  position: absolute;
  z-index: 600;
  width: 100%;

  nav {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0;
    border: 0;
    padding: 30px 0;
    justify-content: flex-end;
  }

  .logoLink {
    margin-right: auto !important;

    .logoImage {
      max-width: 100%;
      height: auto;
      vertical-align: middle;
      border-style: none;
    }
  }

  .navBar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;

    .menu {
      margin: 0;
      border: 0;
      line-height: 1;
      list-style-type: none;
      text-align: center;

      .menuItem {
        margin: 0;
        border: 0;
        line-height: 1;
        position: relative;
        display: inline-block;
        text-align: center;
        font-size: 14px;

        .menuLink {
          margin: 0;
          border: 0;
          line-height: 1;
          text-decoration: none;
          display: inline-block;
          padding: 18px;
          font-size: 14px;
          text-transform: uppercase;
          transition: all 0.4s ease-in-out;
          font-weight: 500;
          letter-spacing: 0;
          color: #fff;

          span {
            cursor: pointer;
          }
        }

        .button {
          padding: 14px 30px;
          text-transform: uppercase;
          letter-spacing: 1px;
          color: #ffffff;
          border: 1px solid #00bfe6;
          background-color: #00bfe6;
          font-size: calc(13px + (16 - 13) * ((100vw - 300px) / (1920 - 300)));
          text-decoration: none;
          border-radius: 50px;
          cursor: pointer;
          font-weight: 500;
        }
      }
    }
  }
}
