.footer {
  background: #061625;
  padding: 18px 0;

  .leftSide {
    height: 100%;
    align-items: center;
    display: flex;
    position: relative;
    z-index: 2;

    ul {
      display: flex;
      list-style-type: none;
      padding: 0;
      margin: 0;

      li {
        font-size: 14px;

        a {
          opacity: 0.5;
          color: #fff;
          font-weight: 300;
          letter-spacing: 1px;
          margin-bottom: 0;
          margin-top: 0;
          line-height: 1.2;
          background-color: transparent;
        }
      }
    }
  }

  .rightSide {
    .text {
      opacity: 0.5;
      font-weight: 300;
      letter-spacing: 1px;
      margin-bottom: 0;
      margin-top: 0;
      line-height: 1.2;
      color: #fff;
      text-align: right;
    }
  }
}
