.pricing {
  padding: 100px 0;
  position: relative;
  overflow: hidden;
  background-image: url(/subscribe-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  .title {
    text-align: center;
  }
}
