.services {
  display: block;
  padding: 100px 0;
  position: relative;
  overflow: hidden;

  .wrapper {
    margin-bottom: -50px;

    .top {
      text-align: center;
    }

    .serviceContainer {
      margin-bottom: 50px;
    }
  }
}
