.subscribeInput {
  display: flex;

  input {
    overflow: visible;
    margin: 0;
  }

  input[type="email"] {
    background-color: #fafafb;
    border: solid #fafafb;
    color: #c7c7c7;
    width: 310px;
    height: 57px;
    border-radius: 45px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 14px;
  }

  input[type="submit"] {
    background-color: #00bfe6;
    border: solid #00bfe6;
    color: #fff;
    margin-left: -50px;
    height: 57px;
    width: 158px;
    border-radius: 45px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 14px;
    cursor: pointer;
  }
}
